@model Pizzeria.Models.Ordine

<div>
    <h4>Ordine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndirizzoDiConsegna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndirizzoDiConsegna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOrdine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOrdine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrezzoTotale) 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrezzoTotale) @Html.Raw("&euro;")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Effettua un altro ordine</a>
</div>
<h4>Prodotti</h4>
<hr />
@foreach(var prodotti in Model.ProdottiAcquistati)
{
    <div>

        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(modelItem => prodotti.Prodotto.NomeProdotto)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(modelItem => prodotti.Prodotto.NomeProdotto)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => prodotti.Quantita)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => prodotti.Quantita)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => prodotti.Prodotto.PrezzoProdotto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => prodotti.Prodotto.PrezzoProdotto) @Html.Raw("&euro;")
            </dd>
        </dl>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

