@using Newtonsoft.Json;
@model IEnumerable<Pizzeria.Models.CartItem>
@{
    ViewData["Title"] = "User Order";


}
<main>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <h2>Menù</h2>
                    <div>
                        <a class="btn btn-success" asp-action="RiepilogoOrdine">Ordina</a>

                    </div>

                </div>
                <hr />
                <div id="listaProdotti" class="row">
                </div>

            </div>
        </div>
    </div>
    <h2>Carrello</h2>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-wrap">

                <hr />
                @{
                    if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-6 mb-3">
                                <div class="row bg-dark border border-1 rounded-2 " style="max-width:450px">
                                    <div class="col-auto">
                                        <img class=" fix-w-200 fix-h-120 cover my-3" src="@item.ImgProdotto" />
                                    </div>
                                    <div class="col-auto">
                                        <h5 class="mb-3 mt-3">@item.NomeProdotto</h5>
                                        <div class="">
                                            <p class="fs-5">Quantità: @item.Quantita </p>
                                            <p class="fs-5">Prezzo: @item.PrezzoProdotto €</p>
                                        </div>
                                    </div>
                                    <div class="mb-1">
                                        @foreach (var itemmino in item.IngredienteItem)
                                        {
                                            <span>@itemmino.NomeIngrediente,  </span>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>Il carrello è vuoto</p>
                    }
                }

            </div>

        </div>
    </div>
</main>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="/js/orderPage.js"></script>

}
