@model Pizzeria.Models.Ordine

<div>
    <h4>Ordine</h4>
    <hr />
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h5>Numero Ordine: @Html.DisplayFor(model => model.IdOrdine)</h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h5>Stato Ordine: @(Model.IsEvaso ? "Evaso" : "Non Ancora Evaso")</h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h5>Indirizzo Di Consegna: @Html.DisplayFor(model => model.IndirizzoDiConsegna)</h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h5>Data Ordine:  @Html.DisplayFor(model => model.DataOrdine)</h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h5>Note: @Html.DisplayFor(model => model.Nota)</h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h5>Prezzo Totale: @Html.DisplayFor(model => model.PrezzoTotale) €</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<h4>Prodotti Acquistati</h4>
<hr />
<div class="row">


    @foreach (var prodotti in Model.ProdottiAcquistati)
    {
        <div class="col-6 mb-3">
            <div class="row bg-dark border border-1 rounded-2 " style="max-width:450px">
                <div class="col-auto">
                    <img class=" fix-w-200 fix-h-120 cover my-3" src="@prodotti.Prodotto.ImgProdotto" />
                </div>
                <div class="col-auto">
                    <h5 class="mb-3 mt-3">@prodotti.Prodotto.NomeProdotto</h5>
                    <div class="">
                        <p class="fs-5">Quantità: @prodotti.Quantita </p>
                        <p class="fs-5">Prezzo: @prodotti.Prodotto.PrezzoProdotto €</p>
                    </div>
                </div>
            </div>
        </div>


    }
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

